@charset "UTF-8";

* {
    box-sizing: border-box;
}

html,
body {
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    overflow-x: hidden;
    width: 100%;
}

/* 書式等 */
html {
    font-size: 16px;
    color: #231815;
}

h1 {
    font-size: 3.6rem;
}

h2 {
    font-size: 1.57rem;
}

h3 {
    font-size: 1.3rem;
}

p {
    font-size: 1rem;
    line-height: 2rem;
    padding-bottom: 1rem;
}

body {
    width: 100%;
    animation: loading 2s;
}

@keyframes loading {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

li {
    text-decoration: none;
    color: #000;
}

a {
    text-decoration: none;
    color: #000;
}

/* reimin */
.reimin {
    font-family: "a-otf-ud-reimin-pr6n", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.reiminB {
    font-family: "a-otf-ud-reimin-pr6n", sans-serif;
    font-weight: 600;
    font-style: normal;
}

/* Garamond R */
.garamond {
    font-family: "garamond-premier-pro", serif;
    font-weight: 400;
    font-style: normal;
}

.garamondB {
    font-family: "garamond-premier-pro", serif;
    font-weight: 700;
    font-style: normal;
}

/* .header {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
} */

.pagesHeader {
    width: 100svw;
    height: 50svh;
    overflow: hidden;

}

.cometenBandHeader {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 15%;

    object-fit: cover;
    object-position: bottom;
}


.headerTitle {
    font-size: 3.6rem;

    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
}


/* ナビゲーション */
nav {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;

    z-index: 10;
    pointer-events: none;
}

/* ハンバーガーメニュー */
.hamburger {
    background-color: #231815;
    border-radius: calc(100% / 2);
    cursor: pointer;
    pointer-events: all;

    width: 75px;
    height: 75px;

    position: absolute;
    right: 10%;
    top: 25%;

    z-index: 20;

}

.hamburgerBar {
    background-color: #fff;
    display: inline-block;
    width: 50%;
    height: 2px;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.hamburgerBar:first-child {
    top: calc((100% / 2) - 13px);
}

.hamburgerBar:nth-child(2) {
    top: calc(100% / 2);
}

.hamburgerBar:last-child {
    top: calc((100% / 2) + 13px);
}

.hamburgerBar .hamburgerOpened {
    top: 50%;
}

.hamburgerOpened .hamburgerBar:first-child {
    transform: translateX(-50%) rotate(45deg);
    top: 50%;
    transition: transform 0.3s ease;
}

.hamburgerOpened .hamburgerBar:last-child {
    transform: translateX(-50%) rotate(-45deg);
    top: 50%;
    transition: transform 0.3s ease;
}

.hamburgerOpened .hamburgerBar:nth-child(2) {
    opacity: 0;
}


/* ナビゲーション */
.navigation {
    width: 100%;
    height: 100%;

    transform: translateY(-100%);
    transition: opacity 0.5s ease, transform 0.5s ease;
    background-color: rgba(255, 255, 255, 0.9);

    position: absolute;
    top: 0;
    left: 0;
    z-index: 15;

}


.viewNavigation {
    display: block;
    opacity: 1;
    transform: translateY(0);
    pointer-events: all;
}


.navigationList {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);

}

.navigationList ul {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    list-style: none;

}

.navigationList li {
    writing-mode: vertical-rl;
    text-align: start;
    margin: 0 1.25rem;
}

.navigationList a {
    font-size: 1.3rem;
    display: inline-block;
}

.navigationList a:hover {
    color: #696969;
    transition: 0.3s ease;
}

.companyAbout {
    width: 100%;
    height: auto;

    position: absolute;
    bottom: 2.5%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutContents {
    margin: 0 1rem;
}

.aboutH3
{
    font-size: 1rem;
}

.companyAbout span {
    display: block;
    font-size: 0.9rem;
}

.companyAbout ul {
    display: block;
    font-size: 0.9rem;
}

.worksList
{
    display: flex;
}

.aboutList {
    margin: 0 1rem;
}


/* main */
main {
    width: 100%;
    background: #fff;
    z-index: 20;
    padding: 2rem 0 0 0;
}

/* スクロールで表示 */

.fadeUp {
    -webkit-animation-name: fadeUpAnime;
    animation-name: fadeUpAnime;
    /*アニメーションの名前*/
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    /*アニメーションの実行時間*/
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    /*アニメーション後、要素が表示されたままにする*/
}

@-webkit-keyframes fadeUpAnime {
    0% {
        opacity: 0;
        /*非表示*/
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
        /*縦方向に100pxずらす*/
    }

    100% {
        opacity: 1;
        /*表示*/
        -webkit-transform: translateY(0);
        transform: translateY(0);
        /*元の位置*/
    }
}

@keyframes fadeUpAnime {
    0% {
        opacity: 0;
        /*非表示*/
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
        /*縦方向に100pxずらす*/
    }

    100% {
        opacity: 1;
        /*表示*/
        -webkit-transform: translateY(0);
        transform: translateY(0);
        /*元の位置*/
    }
}

.fadeUpTrigger {
    opacity: 0;
    /*非表示*/
}

.countainer {
    width: 50%;
    margin: 0 auto;

}

.contents {
    padding-bottom: 3rem;
}

.sectionTitle {
    text-align: center;
    margin-bottom: 2rem;
}

.textJustify {
    display: block;
    text-align: center;
}

.fontSizeR {
    display: block;
    font-size: 1rem;

}

.fontSizeM {
    display: block;
    font-size: 1.57rem;
    line-height: 3rem;

}

.marginBottom {
    margin-bottom: 2rem;
}

/* footer */
footer {
    width: 100%;
    background-color: #fff;
    line-height: 2rem;
}

.ulJustify {
    width: fit-content;
    margin: 0 auto;
}

.address {
    font-size: 1.3rem;
    line-height: 4rem;
}

.maps {
    width: 100%;
    height: 500px;

    margin-bottom: 2rem;
}

.gmapsSizing {
    aspect-ratio: 16 / 5;
    width: 90%;
    height: 500px;
}

.snsList {
    width: 100%;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

.snsList span {
    display: block;
    width: fit-content;
    text-align: center;
    margin: 0 1rem;
}

.snsList span :hover {
    color: #696969;
    transition: 0.3s ease;
}

.copyrBox {
    width: 100%;
    height: 100px;
    background-color: #231815;

}

.copyright {
    display: block;
    color: #fff;
    font-size: 1rem;
    padding-top: 1.5rem;
}

/* スマートフォン用 */
@media screen and (max-width: 1024px),
(max-height: 600px) {
    html {
        font-size: 14px;
    }

    body {
        max-width: 100vw;
        width: 100%;

    }
    
    .hamburger {
        top: 20%;
        right: 2.5%;

        width: 65px;
        height: 65px;

    }

    .countainer {
        width: 85%;
    }

    .navigationList li {
        margin: 0 0.75rem;
    }

    .headerTitle {
        font-size: 2.5rem;
    }

    .navigationList {
        top: 35%;
    }
    
}

/* スマホ横画面用 */
@media screen and (max-height: 850px) and (orientation: landscape) {
    body {
        max-width: 100vw;
        width: 100%;

    }

}

/* タブレット横向き */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    body {
        max-width: 100vw;
        width: 100%;

    }

}

/* 細い画面のスマホ用(縦画面) */
@media screen and (max-width: 480px) {
    body {
        max-width: 100vw;
        width: 100%;

    }

    .navigationList li {
        margin: 0 0.75rem;
    }
}

/* 細い画面のスマホ用(横画面) */
@media screen and (max-height: 480px) and (min-aspect-ratio: 2/1) {
    body {
        max-width: 100vw;
        width: 100%;

    }

    .navigationList li {
        margin: 0 0.75rem;
    }
}